@CHARSET "ISO-8859-1";

.small-prime, .small-prime .ui-widget, .small-prime .ui-widget .ui-helper-reset, .small-prime .ui-widget .ui-widget {
	font-size: 90% !important;
}

.reset-theme .ui-inputfield{
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	border-radius:0 !important;
	border-color: #ABADB3 !important;
}

.titulo-conteudo-div{
	margin-top:2%;
	margin-bottom:5%;
}

.titulo-conteudo-text{
	font-family: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial;
	font-size: 20px;
	font-stretch: expanded;
}

.form-conteudo .row{
	width:95%;
	height:46px;
}

.form-conteudo .element{
	width:50%;
	float:left;
}

.form-conteudo .validation-message{
	font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
	font-size:11px;
	color: red;
	float:right;
	margin-left:5%;
}

.form-conteudo .label{
	font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
	display: inline-block;
	text-align: right;
	margin-bottom:5px;
	font-size:14px;
}

.width-30{
	width: 30% !important;
}

.width-35{
	width: 35%;
}

.width-40{
	width: 35%;
}

.width-20{
	width: 20%;
}

.width-62{
	width: 62%;
}

.width-77{
	width: 77%;
}

.width-100{
	width: 100% !important;

}

.spacing-top-2{
	margin-top:2%;
}

.align-left{
	float:left !important;
}

.align-right{
	float:right !important;
}

.botao{
	width:17%;
	font-size:13px !important;
	font-family: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial !important;
	background-color:lightblue;
	border:1px solid #6D90A6;
	border-radius:3px;
	font-weight: normal !important;
}

.botao span{
	padding:0 !important;
}

.botao :HOVER {
	background-color:#B6D6FF;
}

.form-conteudo .input-text{
	height:17px;
	float:right;
}

.form-conteudo .select{
	width:78%;
	height:25px;
	float:right;
}

.auto-complete{
	float:left;
}

.auto-complete input{
	width:179%;
}

.leitura{
	width:85%;
	border:1px solid #6A97A6;
	border-radius:5px;
}

.leitura .header{
	width:100%;
	height:20px;
	background-color:#C6DEFF;
	border-radius:5px 5px 0px 0px;
	margin-bottom:1%;
}

.leitura .title{
	color:#6A97A6;
	font-weight:bold;
	float:left;
	padding-left:1%;
	width:15% !important;
}

.leitura .label{
	width:25%;
	float:left;
	margin-right:1%;
}

.leitura .text{
	font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
	display: inline-block;
	text-align: right;
	font-size:14px;
	float:left;
}

.leitura .row{
	height:33px;
}

.dialog .label{
	width:45%;
	margin-right:2%;
}

.dialog .left-side{
	width:23% !important;
}

.dialog .label, .dialog .text{
	font-size: 16px !important;
}

.historico .left-side{
	width:26% !important;
}
