@CHARSET "ISO-8859-1";

.TituloConteudoDiv{
	margin-top:2%;
	margin-bottom:5%;
}

.TituloConteudoText{
	font-family: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial;
	font-size: 20px;
	font-stretch: expanded;
}

.conteudoFormLabel{
	font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
}

.conteudoTdMidSpacing{
	padding-right:1%;
}

.conteudoValidationMessage{
	font-size:10px;
	color: red;
	float:left;
	margin-left:26%;
}

.conteudoBotaoForm{
	width:23%;
	font-size:14px;
	font-family: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial;
	background-color:lightblue;
	border:2px solid #6D90A6;
	border-radius:3px;
}