@CHARSET "ISO-8859-1";
#principal{margin:0 auto;}
#logoImg{margin-bottom:1%;margin-top:7%;width:20%;}
#formDiv{
	padding:1%;
	border:5px solid #6A97A6;
	width:16%;
	background-color: #FF8F45;
	border-radius: 10px;
	background: linear-gradient(to bottom, #BAEEFF, #DCEFFF);
}

.inputField{
	width:95% !important;
	margin-top:2% !important;
	margin-left:3px !important;
	margin-bottom:5% !important;
}

#buttonsDiv{
	padding-left:1%;
	margin-top:6%;
}